INTERNAL_SUBNET=10.0.2.0/24
EXTERNAL_SUBNET=10.0.1.0/24
OWNCLOUD_VERSION=10.0
OWNCLOUD_DOMAIN={{ OWNCLOUD_DOMAIN }}
ADMIN_USERNAME={{ ADMIN_USERNAME }}
ADMIN_PASSWORD={{ ADMIN_PASSWORD }}
HTTP_PORT=80
HTTPS_PORT=443
OWN_PORT=8080

